<div style="clear: both; min-height: 100px; overflow: hidden;">
    <div style="float: left; max-width: 50%; padding-right: 30px;">
      <img src="{{ include.image_path }}" alt="">
    </div>
    <div>      
        <h6>{{ include.title | markdownify }}</h6>
        {% assign posts = site.categories[include.category] %}
        {%- if posts -%}
            {% assign posts = posts | sort %}
            <ul>
                {% for post in posts %}      
                    <li><a href="{{ post.url }}">{{ post.subtitle }}</a></li>
                {% endfor %}
            </ul>
        {%- endif -%}
    </div>
</div>
<br />